<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h4>Edit Product</h4>
<form method="POST" class="w-50">
    <div class="mb-2">
        <input name="name" class="form-control" value="{{ product.name }}" required>
    </div>
    <div class="mb-2">
        <input name="category" class="form-control" value="{{ product.category }}">
    </div>
    <div class="mb-2">
        <input name="quantity" type="number" class="form-control" value="{{ product.quantity }}" required>
    </div>
    <div class="mb-2">
        <input name="price" type="number" step="0.01" class="form-control" value="{{ product.price }}" required>
    </div>
    <button class="btn btn-primary">Update</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}

</body>
</html>