<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<form method="get" class="row g-2 mb-3">
    <div class="col-md-6">
        <input type="text" name="q" class="form-control" placeholder="Search by name or category" value="{{ query }}">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary w-100">Search</button>
    </div>
    <div class="col-md-4 text-end">
        <a href="{{ url_for('add') }}" class="btn btn-success">+ Add Product</a>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr><th>Name</th><th>Category</th><th>Quantity</th><th>Price</th><th>Action</th></tr>
    </thead>
    <tbody>
        {% for p in products %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.category }}</td>
            <td>{{ p.quantity }}</td>
            <td>₹{{ p.price }}</td>
            <td>
                <a href="{{ url_for('edit', pid=p.id) }}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{{ url_for('delete', pid=p.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Delete?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

</body>
</html>